body {
	padding-left: 11em;
	margin-left: 10%;
	margin-right: 10%;
	background: rgb(245, 245, 245);
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 400;
	line-height: 1.7;
	letter-spacing: 0.05em;
	color: rgb(119, 119, 119);;
}

h1 {
	display: flex;
	align-items: center;
	flex-direction: column;
	font-family: 'open sans', 'futura', 'Arial', 'Helvetica', 'Sans serif';
	font-size:64px;
	font-weight: 100;
	color: rgb(35, 199, 199);
	margin-bottom: 1cm;
	/* letter-spacing: 0.06em; */
}

h3 {
	font-family: 'open sans', 'futura', 'Arial', 'Helvetica', 'Sans serif';
	font-size:18px;
	color: rgb(51, 51, 51);
	font-weight: 1;
	/* letter-spacing: 0.06em; */
}

#title {

	font-size:200px;
	font-family: 'open sans';
	font-style: normal;
	color: rgb(35, 199, 199);
}

#comment {

	font-size:36px;
	font-family: 'open sans';
	font-style: normal;
	color: rgb(119, 119, 119);
}

a {
	text-decoration: none;
	color: rgb(24, 90, 90);
	font-weight: 100;
}

a:hover {
	opacity: 0.95;
	color: rgb(35, 199, 199);
}

footer {
	border-top: thin dotted;
	margin-top: 2cm;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: rgb(35, 199, 199);
	font-family: 'open sans', 'futura', 'Arial', 'Helvetica', 'Sans serif';
}

.dark {
	width: 100%;
	color: rgb(0, 0, 0);
	background: rgb(51, 51, 51);
	padding-left: -11em;
	margin-left: 10%;
	margin-right: 10%;
}
/*
.dark.u2 {
	color: rgb(255, 255, 255);
}
.dark.u3 {
	color: rgb(255, 255, 255);
}
.dark.u4 {
	color: rgb(255, 255, 255);
}
 */
code{
	color: rgb(19, 19, 19);
	background-color: rgb(236, 236, 236);
}
